* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  padding: 17px 0px;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 5px #e2e2e2;
}

.navbar__logo {
  display: flex;
  margin-left: 100px;
}

.menu {
  padding-right: 100px;
}

.navbar__logo-name {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: #767a8d;
  margin: auto;
  flex-basis: 0;
}

.logo {
  width: 40px;
  margin-right: 20px;
}

.navbar-options {
  display: flex;
  flex-direction: column;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {
  display: inline-block;
  margin: 0 15px;
}
.menu a {
  font-size: 17px;
  font-weight: 500;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.4s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}
.menu-3 a::before {
  transform-origin: 50% 50%;
  background: #7686f9;
}

.header-img {
  height: 500px;
  width: 100%;
}

.main {
  max-width: 1300px;
  margin: auto;
}

.info {
  margin-top: 70px;
}

.info-top {
  display: flex;
  justify-content: space-between;
}

.info-contact h3 {
  color: #7686f9;
}

.info-contact span {
  color: #4d4d4dc4;
}

.info-bio-button {
  display: flex;
  justify-content: flex-end;
  /* height: 200px; */
}

.edit-bio-btn {
  margin: 20px 30px;
  padding: 15px 25px;
  border-radius: 15px;
  text-decoration: none;
  background-color: #7686f9;
  color: white;
}

.info-bio-content {
  padding-top: 50px;
  line-height: 30px;
  font-size: 20px;
}

.doctors-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.doctors-heading-main {
  color: #7686f9;
}

.doctors {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e2e2e2;
}

.doctors .doctors-one h4 {
  color: grey;
}

.vl {
  border-left: 6px solid #e2e2e2;
}

.vaccines {
  display: flex;
  /* justify-content: space-between; */
}

.vaccines .vaccines-one h3 {
  color: grey;
}

.vaccines .vaccines-two h3 {
  color: grey;
}

.vaccines-one {
  /* background-color: red;  */
  width: 50%;
}

.vaccines-two {
  /* background-color: green; */
  padding: 0 100px;
}

.svg {
  width: 17px;
}
