* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.nav {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(161, 156, 156);
  box-shadow: 2.5px 2.5px 2.5px grey;
  width: 100vw;
}

.main {
  display: flex;
}

.main__div1 {
  height: 500px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.main__div2 {
  height: 500px;
  flex: 1;
}

.main-left-option {
  text-decoration: none;
  font-size: 25px;
  color: #7686f9;
  margin: 2.5px 0;
  border-radius: 2px;
}

.first-opt {
  background-color: #7686f9;
  padding: 20px 10px;
  color: black;
}

.main-left-option {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 10px 10px;
}

.main-left-option:hover {
  background-color: #7686f9;
  color: black;
}

.main__div2 {
  padding: 30px;
}

.main__div2-heading {
  padding: 30px 0;
  font-size: 40px;
  border-bottom: 0.5px solid grey;
}

.main-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  border-radius: 20px;
}

.hospital_large {
  background-color: #7686f9;
  max-width: 1000px;
  border-radius: 20px;
  padding: 40px;
  margin: auto;
}

.doctors {
  background-color: #7686f9;
  max-width: 1000px;
  border-radius: 20px;
  padding: 40px;
  margin: auto;
}

.hospital_desc {
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 25px;
}

.hospital_large-phone {
  display: flex;
  align-items: center;
}

.doctors-card {
  width: 180px;
  height: 200px;
  background-color: #7686f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #7686f9;
  margin: 25px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.vaccine-single {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.vaccine-single-name {
  font-size: 22px;
}

.vaccine-single-when-to-give {
  font-size: 17px;
}

.border-bottom {
  padding-top: 15px;
  border-bottom: 0.5px solid grey;
}
