* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 1300px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 40px; */
  margin: 20px 0px;
}

.navbar__logo {
  display: flex;
}

.navbar__logo-name {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: #767a8d;
  margin: auto;
  flex-basis: 0;
}

.logo {
  width: 40px;
  margin-right: 20px;
}

.navbar-options {
  display: flex;
  flex-direction: column;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {
  display: inline-block;
  margin: 0 15px;
}
.menu a {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.4s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}
.menu-3 a::before {
  transform-origin: 50% 50%;
  background: #7686f9;
}

.button {
  background-color: #7686f9;
  border-radius: 10px;
  color: #ffffff !important;
  font-weight: 800 !important;
  padding: 7px 12px !important;
}

.button:hover {
  transform-origin: 50% 50%;
  background: #fff;
  color: black !important;
  transition: all 0.5s !important;
}

.header {
  display: flex;
  margin-top: 200px;
}

.header__one {
  width: 500px;
  /* background-color: red; */
}

.header__two {
  flex: 1;
  margin-left: 80px;
  margin-right: 50px;
  /* background-color: green; */
}

.big-heart-svg {
  width: 400px;
  position: absolute;
}

.text-svg {
  width: 400px;
  margin-left: 170px;
  margin-top: 90px;
  position: absolute;
}

.hospital-svg {
  width: 220px;
  margin: -100px 5px 10px 100px;
}

.path-svg {
  width: 300px;
  position: absolute;
  margin: 100px 100px 0 -100px;
}

.user-svg {
  width: 250px;
  position: absolute;
  margin: 250px 0px 0px 0px;
}

.cloud-svg {
  width: 150px;
  position: absolute;
  margin: 50px -200px 0 200px;
}

.ellipse-2 {
  width: 180px;
  position: absolute;
  margin: -150px -100px 0 500px;
}

.ellipse-1 {
  width: 250px;
  position: absolute;
  margin: 350px 100px 0 -200px;
}

.motive {
  margin-top: 500px;
}

.motive-desc {
  padding: 50px 100px;
  margin-top: -20px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
}

.covid {
  margin-top: 100px;
}

.covid-img {
  height: 420px;
  margin: auto;
}

.solution {
  margin-top: 100px;
}

.solution-img {
  margin-top: -80px;
  height: 400px;
  margin-bottom: 50px;
}

.app-nirog {
  display: flex;
}

.app-nirog-div1 {
  width: 100px;
  background-color: green;
}

.app-nirog-div2 {
  flex: 1;
  background-color: red;
}

.section-app {
  display: flex;
  padding: 100px 125px;
  margin-top: -80px;
}

.section-app-one {
  width: 500px;
  padding: 50px;
  font-size: 25px;
  text-align: left;
  line-height: 35px;
}

.section-app-two {
  flex: 1;
  margin: auto;
}

.phone-svg {
  height: 450px;
  margin-left: 100px;
}

.download-button {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  position: relative;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  background-color: #7686f9;
}

.download-button:hover {
  background-color: #7e85b4;
}

.web-section {
  padding: 30px 200px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.team-svg {
  margin-top: 70px;
  margin-bottom: 70px;
  height: 300px;
}

.team-message {
  text-align: center;
}
.author {
  text-align: center;
  margin-left: 40%;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
}

.github-svg {
  width: 60px;
}

.footer {
  height: 65px;
  background-color: #7686f9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.covid-imlications {
  color: #7686f9;
  font-size: 30px;
}

.back-top-top {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
}

.icon-btt {
  position: relative;
  width: 50px;
}
