* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  background: #dde1e7;
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
* {
  margin: 0;
}

.loader-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Recursive';
}

.loader {
  position: relative;
}

.loader img {
  width: 100%;
}

.slide-box {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
}

.solid {
  width: 100%;
  background-color: white;
}

.heading {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
}

.dot {
  border-radius: 50%;
  background-color: black;
  margin-left: 10px;
}

#d1 {
  width: 11px;
  height: 11px;
}

#d2 {
  width: 10px;
  height: 10px;
}

#d3 {
  width: 9px;
  height: 9px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #7686f9;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input {
  border: none;
  outline: none;
}

.signup {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  color: #7686f9;
}
h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;

  margin-bottom: 40px;
}

h2 span {
  text-decoration: underline;
  cursor: pointer;
  color: #7686f9;
}

/*  Field */
.signup__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.signup__field:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #7686f9;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
}

.signup__field:hover:before {
  width: 100%;
}

/*  Input */
.signup__input {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 10px 2px 0;
  border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
  top: 0;
  font-size: 1rem;
  background-color: white;
}

input[type='submit'] {
  background: #7686f9;
  color: white;
  padding: 12px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
}

input[type='submit']:hover {
  background: #0bd883;
}
