<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.png"/>
    <link rel="stylesheet" href="/css/updateBio.css" />

    <title>Nirog | Bio</title>
  </head>
  <body>
    <div class="loader-wrapper">
   
      <div class="loader-container">
          <div class="loader">
            <img src="https://i.imgur.com/BbQQdiRr.png" alt="Lifeline">
            <div class="slide-box">
              <div class="solid"></div>
            </div>
          </div>
          <div class="heading">
            <h1>Loading</h1>
            <div class="dot" id="d1"></div>
            <div class="dot" id="d2"></div>
            <div class="dot" id="d3"></div>
        
          </div>
        </div>
          </div>
          <form method="POST" action="/api/hospital/update/info/<%= hospital._id %>" class="signup">
            <h1>Update Bio</h1>
            <br/>
                    
            <div class="signup__field">
              <textarea style="padding: 10px;" id="bio" name="description" style="border-radius: 20px;" cols="30" rows="10"><%= hospital.description %></textarea>
              </div>
          
            <input type="submit" value="Update">

            <br/>

          </form>

  </body>
  <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <script>
      $(window).on("load", function(){
          $(".loader-wrapper").fadeOut("slow")
      })
  </script>
  <script>
    let slideBox = document.querySelector('.slide-box');
let solid = document.querySelector('.solid');

let width = 100;

let slide = setInterval(() => {
    solid.style.width = `${width}%`;
    width -= 1;
}, 20)

setTimeout(() => {
    clearInterval(slide);
    solid.style.width = `100%`;
}, 2050);

setInterval(() => {

    width = 100;
    let slide = setInterval(() => {
        solid.style.width = `${width}%`;
        width -= 1;
    }, 20)

    setTimeout(() => {
        clearInterval(slide);
    }, 2050);

}, 2050);
</script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>